.container {
    display: flex;
    height: 100vh;
    padding: 0.6rem;
    background-color: #f9f9f9;
    gap: 0.6rem;
}

.mainContent {
    flex: 1;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 8px;
}
